body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #BBDCE5, #468A9A);
}

.weather-container {
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
}

.weather-container h2 {
  margin-bottom: 15px;
}

.weather-container p {
  font-size: 18px;
  margin: 5px 0;
  padding: 0px 20px 0px 20px;
}
.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#map {
  border-radius: 15px;
  width: 90%;
  height: 90%;
  margin:0 auto;
  box-shadow: 0 4px 15px black;
}
nav {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.imglogo {
  width: 100px;
  height: 100px;
}
.input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}